body {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}
a {
    font-style: italic;
}
h1 a {
    font-style: italic;
}
.loud {
    font-style: italic;
}
#highlight {
    background-color: yellow;
}
